= render 'shared/counters/ga'
= render 'shared/counters/g_remarketing'
= render 'shared/counters/g_remarketing_pctab'
= render 'shared/counters/ya_metrika'
/ = render 'shared/counters/visualwebsiteoptimizer'
= render 'site/shared/counters/vk'

- if @page == 'place'

  = render 'site/shared/counters/fb'
  = render 'site/shared/counters/step0'
