img (
  height="1"
  width="1"
  alt=""
  style="display:none"
  src="https://www.facebook.com/tr?id=317801478372756&ev=PlacePage&cd[placement]=gettable&cd[placeType]=#{@place.preferred_category}&cd[placeName]=#{@place.title}&cd[placeId]=#{@place.id}&cd[check]=#{@place.avg_price_category}"
)
