javascript:
  (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=oqVYrqWJ6SyvzZYCKIX*FhKe88I59KVu*WzqZ16gbg/86cRzyX3lYeeU5K9rNmWv4WK4r6rZLZbJ*m9s17CwPbCLAEo9LQJ4PlYJAz318OJppf03CPuNkW/TGXphQHJ2uBToBrkTD4a9CbNEkjTBJi5URSfUoYNT/Izp/Z2PkRo-';
